@import '../../root';

.tree-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: $bg-color;

  .dev-state-text {
    display: block;
    align-self: center;
    font-family: "Neucha";
    font-size: 42px;
    line-height: 46px;
    color: $text-color;
    text-transform: uppercase;
    list-style-type: none;
  }
}